<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Foun 404</title>
</head>
<style>
    * {
        box-sizing: border-box;
    }
    
    body {
        padding: 0px;
        text-align: center;
        margin: 0px;
    }
    
    p {
        background: url("https://images.unsplash.com/photo-1578328819058-b69f3a3b0f6b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80") center no-repeat;
        height: 755px;
        width: 100%;
        padding: 200px 40px;
        font-size: 28px;
        font-weight: 600;
        font-family: monospace;
        color: black;
        margin: 0px;
    }
    
    a {
        text-decoration: none;
        outline: none;
    }
</style>

<body>
    <p>Page is under maintainance you can check out the other pages
        <br><br> If you came upon this page by mistake, try checking the URL in your web browser.
        <br><br>
        <a href="/">Home </a>
    </p>
</body>

</html>